<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>homepage</title>
</head>
<body>
    <h1>Ciao a tutti! Benvenuti nella homepage!</h1>
    <h3>Prima app</h3>
    <ol><li><a href="/prima_app/index/">index</a></li>
        <li><a href="/prima_app/menu/">menu</a></li>
        <li><a href="/prima_app/chi_siamo/">chi siamo</a></li>
        <li><a href="/prima_app/variabili/">variabili</a></li>
    </ol>
    <h3>Seconda app</h3>
    <ol>
        <li><a href="/seconda_app/if">esempio if</a></li> 
        <li><a href="/seconda_app/ifelse">esempio ifelse</a></li> 
        <li><a href="/seconda_app/ifelif">esempio elif</a></li>   
        <li><a href="/seconda_app/for">esempio for</a></li>  
    </ol>
</body>
</html>
